/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* MAIN */
main{
    width: 100%;
    height: 100vh;
    background: rgb(213,219,216);
    background: linear-gradient(0deg, rgba(213,219,216,1) 80%, rgba(0,150,136,1) 80%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 80%;
    height: 90%;
    background-color: blue;
    display: flex;
    flex-wrap: wrap;
}

/* LEFT CONTAINER */

.left-container{
    width: 40%;
    height: 100%;
    background-color: coral;
}

.left-container .user-info{
    width: 100%;
    height: 10%;
    background-color: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-container .user-info .user-profile{
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.left-container .user-info .user-profile img{
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin-right: 10px;
}

.left-container .user-info .actions{
    color: #b1b1b1;
    padding-right: 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.left-container .user-info .actions i{
    padding: 0 5px;
    font-size: 1.3em;
}

.left-container .alert{
    width: 100%;
    height: 12%;
    background-color: #8edafc;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.left-container .alert i{
    font-size: 1.3em;
    padding: 10px;
    background-color: white;
    border-radius: 50%;
    color: #8edafc;
    margin-right: 10px;
}

.left-container .search-box{
    width: 100%;
    height: 8%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
}

.left-container .search-box .search-container{
    border: 1px solid #dddede;
    display: flex;
    flex-grow: 1;
    margin: 0 5px;
}

.left-container .search-box .search-container .search-icon i{
    padding: 10px 15px;
    color: #d3d3d3;
    margin-left: 5px;
    border-right: 1px solid #dddede;
}

.left-container .search-box .search-container input{
    padding: 10px 5px;
    border: none;
    flex-grow: 1;
}


.left-container .chat-list{
    width: 100%;
    height: 70%;
    background-color: #ffffff;
    overflow: auto;
}

.left-container .chat-list .chat-preview{
    width: 100%;
    height: 17%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #e9ebeb;
    border-bottom: 1px solid #e9ebeb;
}

.left-container .chat-list .chat-preview img{
    border-radius: 50%;
    height: 70px;
    width: 70px;
    align-self: center;
    margin-left: 20px;
}

.left-container .chat-list .active{
    background-color: #e9ebeb;
}

.left-container .chat-list .chat-preview .text{
    padding: 15px 0;
    margin-left: 20px;
    flex-grow: 1;
}

.left-container .chat-list .chat-preview .time{
    padding: 15px 0;
    margin-right: 10px;
}

#wrong-contact{
    display: none;
}


/* RIGHT CONTAINER */

.right-container{
    width: 60%;
    height: 100%;
}

.right-container .user-info{
    width: 100%;
    height: 10%;
    background-color: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right-container .user-info .user-profile{
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.right-container .user-info .user-profile img{
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin-right: 10px;
}

.right-container .user-info .actions{
    padding-right: 15px;
}

.right-container .user-info .actions i{
    color: #b1b1b1;
    font-size: 1.3em;
    padding: 0 5px;
}

.right-container .chat{
    width: 100%;
    height: 80%;
    background-image: url("../img/mine.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.right-container .chat .messages{
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
}

.right-container .chat .messages .message{
    padding: 15px;
    padding-bottom: 25px;
    margin-bottom: 7px;
    border-radius: 10px;
    min-width: 40%;
    max-width: 60%;
    position: relative;
}

.right-container .chat .messages .sent{
    align-self: flex-end;
    background-color: #d5f9ba;
}

.right-container .chat .messages .received{
    align-self: flex-start;
    background-color: white;
}

.right-container .chat .messages .message .time{
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 0.7em;
    color: grey;
}

.right-container .input{
    width: 100%;
    height: 10%;
    background-color: #f3eeea;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right-container .input .emoticon{
    font-size: 1.5em;
    color: #6b7376;
    margin-left: 30px;
}

.right-container .input .search{
    width: 80%;
}

.right-container .input .search input{
    width: 100%;
    padding: 15px 10px;
    border: none;
    border-radius: 5px;
}

.right-container .input .audio{
    font-size: 1.5em;
    color: #6b7376;
    margin-right: 30px;
}
